<div class="col-md-6 col-md-offset-3">
  <article class="post shadow">
    <header>
      <h3><a href="#">Hot chicken actually gluten-free</a></h3>
      <div class="post-details text-center">
        <i class="fa fa-user"></i> Kirk Meyer
      <i class="fa fa-clock-o"></i> <time><%= Time.new(2016, 11, 19).strftime('%b %d, %Y') %></time>
      <i class="fa fa-folder"></i> <a href="">Healthcare</a>
      <!-- <i class="fa fa-tags"></i> Tagged <a href="">wordpress</a>, <a href="">premium</a>, <a href="">another tag</a>, <a href="">yadda yadaa</a> -->
      </div><!-- post-details -->
    </header>
    <div class="post-image">
      <img class="img-responsive shadow" src="http://www.newyorker.com/wp-content/uploads/2016/01/Borowitz-Donald-Trump-1200.jpg" alt="">
    </div><!-- post-image -->
    <div class="post-excerpt">
      <p>Butcher succulents listicle, vaporware tumeric truffaut activated charcoal lyft quinoa. Live-edge scenester celiac, iceland art party post-ironic chambray raw denim activated charcoal salvia truffaut kombucha godard. Hot chicken actually gluten-free, pork belly master cleanse PBR&amp;B scenester quinoa. Thundercats activated charcoal typewriter photo booth..... <strong><a href="#">continue reading &raquo;</a></strong></p>
    </div><!-- post-excerpt -->
  </article><!-- post -->
</div>
