body {
  font-family: monospace;
  font-size: 2em;
  background: url('../img/generic-bg.jpg') no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 1260px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.close {
  position: relative;
  right: 0;
  top: 0;
  border: 1px solid #000;
  border-radius: 4px;
  width: 22px;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
a {
  color: #000;
}

a:hover {
  color: inherit;
}

#navbar li {
  display: inline-block;
}

.jumbotron {
  background-color: transparent;
  padding-bottom: 10px;
}

.jumbotron h1 {
  display: inline;
}

.post, .widget, #comments {
	position: relative;
	border: solid 1px #ddd;
	background: white;
	margin: 0 0 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.post header,
.post .post-excerpt,
.post .post-body,
#comments .comments-wrap {
	padding: 20px;
  text-align: justify;
}

.post header h3 {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: solid 1px #ddd;
}

.post header h1 {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: solid 1px #ddd;
	font-size: 24px;
}

.post-image {
	height: auto;
  padding: 0 10px;
}

.post-details {
	font-size: 14px;
}

.post-details i.fa {
	padding-left: 10px;
}

.post-details i.fa:first-child {
	padding: 0;
}

.post {
  padding: 20px;
}

.post h3 {
  text-align: center;
}

.navbar-collapse {
  text-align: center;
}

.navbar-brand {
  display: none;
}

.navbar-default {
  border: solid 1px #ddd;
	background: white;
	margin: 0 0 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.navbar-nav, .navbar-nav li {
  float: none;
}

.nav>li>a {
  padding: 10px;
}

.bar {
  padding-top: 10px;
}

.shadow {
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
  display: inline-block;
  font-size: 48px;
}

.full-post {
  text-align: justify;
  background-color: #fff;
  border: solid 1px #ddd;
	margin: 0 0 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}

.full-post h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-align: center;
}

.full-post h3 {
  text-align: center;
}

.full-post p{
  margin: 30px;
}

.full-post img{
  margin: 30px auto;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.full-post .post-details {
  width: 100%;
  font-size: 16px;
}

footer {
  margin-top: 50px;
  border-top: 2px solid black;
  text-align: center;
  bottom: 0;
  width: 100%;
}

/*========================== profiles ======================================*/
.profile h3 {
  text-align: center;
  margin: 20px;
}

.contributor_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile img {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}

.profile .post {
  margin: 30px 0;
}

.post-list {
  margin-top: 100px;
}

.post-image img {
  margin: 10px auto;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media screen and (max-width:767px) {
  #navbar li {
    display: list-item;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 5px;
  }
  .navbar-nav {
    margin: 0 -15px;
  }
  .bar {
    display: none!important;
  }
  .navbar-brand {
    display: inline;
  }
}
